.page {
  font-family: var(--font-geist-sans);
  padding: 50px 10px;
  min-height: 100vh;
}

.main h1 {
  margin: 20px auto;
}

.title {
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
}

.button {
  padding: 12px 20px;
  background-color: #c1dcf3;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Button hover effect */
.button:hover {
  background-color: #b3cce1;
}

.button.mainPageButton {
  display: block;
  margin: 10px auto;
}

.banner {
  max-width: 90%;
  margin: 0 auto;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full viewport height */
  text-align: center; /* Ensures text remains centered */
}